.navigator-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.navigator-item__link {
  color: black;
  border: 2px solid salmon;
  text-decoration: none;
  padding: .3rem .6rem;
  border-radius: .5rem;
}

.navigator-item__link.active {
  background-color: coral;
}